*.tfstate
*.tfstate.*
.terraform/
*.tfvars
*.tfvars.json
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.vault-password
*.vault-password
.vscode
.vault-password 
.DS_Store
vars.local.yml
*.retry
hosts.generated.ini
bootstrap.generated.ini
._*
