logging {
  level  = "info"
  format = "logfmt"
}

loki.write "default" {
  endpoint {
    url = "{{ loki_url }}"
  }
}

local.file_match "system_logs" {
  path_targets = [
    {
      __path__ = "/var/log/syslog",
      job      = "system",
      host     = "{{ inventory_hostname }}",
    },
    {
      __path__ = "/var/log/auth.log",
      job      = "auth",
      host     = "{{ inventory_hostname }}",
    },
  ]
}

loki.source.file "system_logs" {
  targets    = local.file_match.system_logs.targets
  forward_to = [loki.write.default.receiver]
}

loki.source.journal "systemd" {
  max_age    = "24h0m0s"
  forward_to = [loki.write.default.receiver]
}