logging {
  level  = "info"
  format = "logfmt"
}

loki.write "default" {
  endpoint {
    url = "{{ monitoring_loki_url }}"
  }
}

loki.source.file "system_logs" {
  targets = [
    {
      __path__ = "/var/log/syslog",
      job      = "system",
      host     = "{{ inventory_hostname }}",
    },
    {
      __path__ = "/var/log/auth.log",
      job      = "auth",
      host     = "{{ inventory_hostname }}",
    },
  ]

  forward_to = [loki.write.default.receiver]

  file_match {
    enabled = true
  }
}

loki.source.journal "systemd" {
  labels = {
    job  = "systemd",
    host = "{{ inventory_hostname }}",
  }

  max_age = "24h0m0s"

  forward_to = [
    loki.write.default.receiver,
  ]
}