<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Linux Infrastructure Platform</title>
</head>
<body>
    <h1>Linux Infrastructure Platform</h1>

    <p>Application deployment successful.</p>

    <p>
        Environment:
        {{ deployment_environment | default('dev') }}
    </p>

    <p>
        Managed by:
        Terraform + Ansible + Docker
    </p>
</body>
</html>